<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.dao.FlowDao">
    <insert id="insertService" parameterType="Service" useGeneratedKeys="true" keyProperty="id">
        insert into service(id, title, urgent, appendix, creationtime, userid, flowid, status)
        values (#{id}, #{title}, #{urgent}, #{appendix}, #{creationtime}, #{userId}, #{flowId}, #{status})
    </insert>


    <resultMap id="selectServiceMap" type="Service">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="urgent" property="urgent"></result>
        <result column="appendix" property="appendix"></result>
        <result column="creationtime" property="creationtime"></result>
        <result column="userid" property="userId"></result>
        <result column="flowid" property="flowId"></result>
        <result column="status" property="status"></result>
        <association property="flow" javaType="Flow">
            <id column="id1" property="id"></id>
            <result column="title1" property="title"></result>
            <result column="creationtime1" property="creationtime"></result>
        </association>
    </resultMap>
    <select id="selectService" resultMap="selectServiceMap" parameterType="java.lang.Integer">
        select service.*,flow.id id1, flow.title title1, flow.creationtime creationtime1
        from service,flow
        where service.flowid = flow.id
        and
        service.userid = #{userId}
        <if test="title!=null and title != ''">
            and service.title like concat(concat('%',#{title}),'%')
        </if>
        <if test="urgent!=null and urgent != ''">
            and service.urgent = #{urgent}
        </if>
        <if test="flowTitle!=null and flowTitle != ''">
            and flow.title = #{flowTitle}
        </if>
        <if test="status!=null and status != ''">
            and service.status = #{status}
        </if>
        order by service.creationtime desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectCountService" resultType="java.lang.Integer">
        select count(*)
        from service,flow
        where service.flowid = flow.id
        and
        service.userid = #{userId}
        <if test="title!=null and title != ''">
            and service.title like concat(concat('%',#{title}),'%')
        </if>
        <if test="urgent!=null and urgent != ''">
            and service.urgent = #{urgent}
        </if>
        <if test="flowTitle!=null and flowTitle != ''">
            and flow.title = #{flowTitle}
        </if>
        <if test="status!=null and status != ''">
            and service.status = #{status}
        </if>
    </select>

    <select id="selectAllNode" parameterType="Service" resultType="Node">
        SELECT
            *
        FROM
            node
        WHERE
            node.flowid = #{flowId}
        ORDER BY
            node.`order` DESC
    </select>

    <insert id="insertProcess" parameterType="Process">
        insert into process(id, status, nodeid, serviceId, creationtime)
        values (#{id}, #{status}, #{nodeId}, #{serviceId}, #{creationtime})
    </insert>


    <select id="selectApplyToMe" parameterType="java.lang.Integer" resultType="ApplyToMeVo">
        SELECT
            service.*, flow.title flowTitle,process.id processId,service.id serviceId
        FROM
            node,
            process,
            service,
            flow
        WHERE
            node.id = process.nodeid
        AND service.id = process.serviceid
        AND flow.id = service.flowid
        AND process.`status` IS NULL
        AND node.userid = #{id}
    </select>

    <update id="updateServiceStatus">
        update service set status = #{status} where id = #{id}
    </update>

    <update id="updateProcessStatus">
        update process set status = #{status} where id = #{id}
    </update>

    <select id="selectProcessById" parameterType="java.lang.Integer" resultType="Process">
        select * from process where id = #{processId}
    </select>


    <resultMap id="selectServiceMonitorMap" type="ServiceVo">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="urgent" property="urgent"></result>
        <result column="appendix" property="appendix"></result>
        <result column="creationtime" property="creationtime"></result>
        <result column="userid" property="userId"></result>
        <result column="flowid" property="flowId"></result>
        <result column="status" property="status"></result>
        <association property="flow" javaType="Flow">
            <id column="id1" property="id"></id>
            <result column="title1" property="title"></result>
            <result column="creationtime1" property="creationtime"></result>
        </association>
    </resultMap>
    <select id="selectServiceMonitor" resultMap="selectServiceMonitorMap" parameterType="java.lang.Integer">
        select service.*,flow.id id1, flow.title title1, flow.creationtime creationtime1
        from service,flow
        where service.flowid = flow.id
        <if test="title!=null and title != ''">
            and service.title like concat(concat('%',#{title}),'%')
        </if>
        <if test="urgent!=null and urgent != ''">
            and service.urgent = #{urgent}
        </if>
        <if test="flowTitle!=null and flowTitle != ''">
            and flow.title = #{flowTitle}
        </if>
        <if test="status!=null and status != ''">
            and service.status = #{status}
        </if>
        order by service.creationtime desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectCountServiceMonitor" resultType="java.lang.Integer">
        select count(*)
        from service,flow
        where service.flowid = flow.id
        <if test="title!=null and title != ''">
            and service.title like concat(concat('%',#{title}),'%')
        </if>
        <if test="urgent!=null and urgent != ''">
            and service.urgent = #{urgent}
        </if>
        <if test="flowTitle!=null and flowTitle != ''">
            and flow.title = #{flowTitle}
        </if>
        <if test="status!=null and status != ''">
            and service.status = #{status}
        </if>
    </select>

    <select id="selectCurrentNode" parameterType="java.lang.Integer" resultType="Node">
        select node.* from process,node
        where node.id = process.nodeid
        and process.serviceid = #{serviceId}
        order by creationtime desc
        limit 1
    </select>
</mapper>
